<!doctype html>
<html>
<title>Server Send Events Demo</title>
<div id="result">nothing received yet</div>
<style>
  #result {
    text-align: center;
    margin-top: 8vh;
    font-family: monospace;
    background-color: gray;
    padding: 8px;
  }
</style>
<script>
fetch('/stream')
    .then(response => {
        const stream = response.body;
        const reader = stream.getReader();
        const readChunk = () => {
            reader.read()
                .then(({
                    value,
                    done
                }) => {
                    if (done) {
                        console.log('Stream finished');
                        return;
                    }
                    const chunkString = new TextDecoder().decode(value);
                    document.getElementById('result').innerHTML += '<div>' + chunkString + '</div>';
                    readChunk();
                })
                .catch(error => {
                    console.error(error);
                });
        };
        readChunk();
    })
    .catch(error => {
        console.error(error);
    });
</script>
</html>